.DS_Store
node_modules
/build
/packages/app/build
/site/build
/.svelte-kit
/packages/app/.svelte-kit
/site/.svelte-kit
/packages/*/dist
/plugins/*/dist
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/packages/app/src/lib/core/plugins/host/vendor/_generated
/packages/app/.env
/src-tauri
