.DS_Store
node_modules
/build
/packages/app/build
/site/build
/.svelte-kit
/packages/app/.svelte-kit
/site/.svelte-kit
/packages/*/dist
/plugins/*/dist
/package
plugins/twitch/src/config.ts
plugins/youtube/src/config.ts
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/src-tauri
