.DS_Store
node_modules
/build
/packages/app/build
/.svelte-kit
/packages/app/.svelte-kit
/packages/*/dist
/plugins/*/dist
/package
.env
.env.*
!.env.example
plugins/youtube/src/config.ts
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/src-tauri
